# we don't like pdf
*.pdf
# who even needs cache?
simulator/__pycache__
simulator/k8/__pycache__/*
simulator/k8/__pycache__/algorithm.cpython-312.pyc
simulator/simmath/__pycache__
simulator/k8/__pycache__

