# we don't like pdf
*.pdf
# who even needs cache?
**__pycache__**
k8_deployment/keystone_rc.sh
.terraform*

# no local docker data
simulator/deploy/grafana_data
simulator/deploy/sql_data
k8_deployment/k3s.yaml

# rust build stuff
api_server/target
# dont check in the database
api_server/database.db

# no .dot, not .png. Not on my watch at least
*.png
*.dot