
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-client
  labels:
    app: {{ .Release.Name }}-client
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-client
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-client
    spec:       
      schedulerName: custom-scheduler
      containers:
      - name: {{ .Release.Name }}-client
        image: ghcr.io/kr-0-n/master_thesis/client:latest 
        resources:
          requests:
            cpu: "{{ .Values.client.CPU }}"
            memory: "{{ .Values.client.MEM }}"
        env:
        - name: TARGET
          value: {{ .Release.Name }}-server
        - name: BANDWIDTH
          value: {{ .Values.env.BANDWIDTH }}Mbit
        - name: LATENCY
          value: "{{ .Values.env.LATENCY }}"
        - name: NetworkComRequirements
          value: '[{"Target": "{{ .Release.Name }}-server", "Latency": {{ .Values.env.LATENCY }}, "Throughput": {{ .Values.env.BANDWIDTH }}}]'
        volumeMounts:
        - name: logs
          mountPath: /logs
      imagePullSecrets:
      - name: regcred
      volumes:
      - name: logs
        hostPath:
          path: /logs
          type: Directory
        
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-server
  labels:
    app: {{ .Release.Name }}-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-server
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-server
    spec:
      schedulerName: custom-scheduler
      containers:
      - name: {{ .Release.Name }}-server
        image: ghcr.io/kr-0-n/master_thesis/server:latest  
        resources:
          requests:
            cpu: "{{ .Values.server.CPU }}"
            memory: "{{ .Values.server.MEM }}"
        volumeMounts:
        - mountPath: /logs
          name: logs-volume
          readOnly: false
      imagePullSecrets:
      - name: regcred
      volumes:
      - name: logs-volume
        hostPath:
          path: /logs
          type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-server
  labels:
    app: {{ .Release.Name }}-server
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}-server
  ports:
    - name: port-5001
      protocol: TCP
      port: 5001
      targetPort: 5001
    - name: port-5002
      protocol: TCP
      port: 5002
      targetPort: 5002
    - name: port-5003
      protocol: TCP
      port: 5003
      targetPort: 5003
    - name: port-5004
      protocol: TCP
      port: 5004
      targetPort: 5004
    - name: port-5005
      protocol: TCP
      port: 5005
      targetPort: 5005
    - name: port-5006
      protocol: TCP
      port: 5006
      targetPort: 5006
    - name: port-5007
      protocol: TCP
      port: 5007
      targetPort: 5007
    - name: port-5008
      protocol: TCP
      port: 5008
      targetPort: 5008
    - name: port-5009
      protocol: TCP
      port: 5009
      targetPort: 5009
    - name: port-5010
      protocol: TCP
      port: 5010
      targetPort: 5010
    - name: port-5011
      protocol: TCP
      port: 5011
      targetPort: 5011
    - name: port-5012
      protocol: TCP
      port: 5012
      targetPort: 5012
