apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  labels:
    app: client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      schedulerName: custom-scheduler
      containers:
      - name: client 
        image: nginx:1.21.6
        env:
          - name: NetworkComRequirements
            value: '[{"Target": "server-deployment", "Latency": 10, "Throughput": 5}]'
        resources:
          limits:
            cpu: "0.5"
            memory: "512Mi"
          requests:
            cpu: "0.5"
            memory: "512Mi"
        ports:
        - containerPort: 5001
---
apiVersion: v1
kind: Service
metadata:
  name: client-service
spec:
  selector:
    app: client
  ports:
    - name: iperf3
      protocol: TCP
      port: 5001
      targetPort: 5001
