apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  labels:
    app: client-server-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      schedulerName: custom-scheduler
      containers:
      - name: client 
        image: nginx:1.21.6
        env:
          - name: NetworkComRequirements
            value: '[{"Target": "server-deployment", "Latency": 10, "Throughput": 5}]'
        resources:
          limits:
            cpu: "0.5"
            memory: "512Mi"
          requests:
            cpu: "0.5"
            memory: "512Mi"
        
        ports:
        - containerPort: 80
