apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  labels:
    app: client-server-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      nodeSelector:
        kubernetes.io/hostname: k8-manager-0
      schedulerName: custom-scheduler
      containers:
      - name: server
        image: nginx:1.21.6
        
        ports:
        - containerPort: 80
    