version: '3.8'
services:
  db:
    image: "mysql:latest"
    ports:
      - "3306:3306"
    volumes:
      - ./sql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  adminer:
    image: "adminer:latest"
    ports:
      - "8000:8080"
  grafana:
    image: "grafana/grafana:latest"
    volumes:
      - ./grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
