version: '3.8'
services:
  db:
    image: "mysql:latest"
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
  adminer:
    image: "adminer:latest"
    ports:
      - "8080:8080"
  grafana:
    image: "grafana/grafana:latest"
    ports:
      - "3000:3000"